[2019-07-30 18:06] skale-ethberlin opened #4 "[Bounty] SKALE - 6 Bounties to Power Your dApp"
# SKALE Bounties - ETHBerlin

Power your dApp with SKALE's Ethereum Stack - 6 bounties!

## How to qualify

500 Euro to each of 4 best dApps and 1000 Euro to each 2 top dApps using capabilities of SKALE's decentralized stack (smart contract scaling, FileStorage, Interchain Message Transfer). Deployment process is very fast and easy: it takes just a couple lines of code to deploy to SKALE, or to up

[2019-07-31 20:54] michaelsena opened #1 "3Box - Best Overall 3Box Integration"
# 3Box: Best Overall 3Box Integration 🏆

[3Box](https://3box.io) is the best way for developers to manage user data on the decentralized web. 3Box lets you build fully-featured dapps without needing to manage a backend server for user data. Our JavaScript SDK allows you to add identity, auth, profiles, storage, and messaging to your web app.

## Bounty Description

**This bounty will be paid to th

[2019-07-31 21:22] michaelsena opened #5 "3Box - Most Social Application"
# 3Box: Most Social Application 🙌

[3Box](https://3box.io) is the best way for developers to manage user data on the decentralized web. 3Box lets you build fully-featured dapps without needing to manage a backend server for user data. Our JavaScript SDK allows you to add identity, auth, profiles, storage, and messaging to your web app.

## Bounty Overview
**This bounty will be paid to the most soc

[2019-07-31 21:30] michaelsena opened #3 "3Box - Best Use of Storage Spaces"
# 3Box: Best Use of Storage Spaces 📂

[3Box](https://3box.io) is the best way for developers to manage user data on the decentralized web. 3Box lets you build fully-featured dapps without needing to manage a backend server for user data. Our JavaScript SDK allows you to add identity, auth, profiles, storage, and messaging to your web app.

## Bounty Description
**This bounty will be paid to the pr

[2019-08-01 11:55] ligi commented on #4
@xinyunat we reopened because we think closing was just done by mistake. Let us know if this was OK

[2019-08-01 12:01] michaelsena opened #2 "[WIP] 3Box - Best Use of Storage Spaces"
# [WIP] 3Box: Best Use of Storage Spaces 📂

[3Box](https://3box.io) is the best way for developers to manage user data on the decentralized web. 3Box lets you build fully-featured dapps without needing to manage a backend server for user data. Our JavaScript SDK allows you to add identity, auth, profiles, storage, and messaging to your web app.

**This bounty will be paid to the project that best

[2019-08-04 16:42] JohannEid opened #6 "[BOUNTY] Chainlink - Connect your Dapp to real world data"
# Building the next generation of connected smart contracts

Chainlink is a decentralized oracle network that enables smart contracts to securely access off-chain data feeds, web APIs, and traditional bank payments. Chainlink is consistently selected as one of the top blockchain technologies by leading independent research firms such as Gartner. It is well known for providing highly secure and rel

[2019-08-07 14:01] soc1c commented on #5
Final KB link https://ethberlinzwei.github.io/KnowledgeBase/resources/3box.html

[2019-08-08 11:49] franzihei opened #7 "[BOUNTY] Raiden - IoT Challenge"
# Crazy in love with the Internet of Things?  🤖

Raiden loves IoT! You like to play with hardware and build things? Then take part in the **Raiden IoT Challenge** and show how Raiden can be used for (micro-)payments or token transfers with your favorite hardware use case. Need a Raspi or other hardware? We might be able to help... feel free to come by the Layer 2 Helpdesk and let us know what you

[2019-08-08 11:53] franzihei opened #8 "[BOUNTY] Raiden - Micropayments Challenge"
# Give token transfers wings!  💸

Raiden aims to make payments for dApps easy by enabling fast and cheap off-chain transfers. Raiden is especially useful for micro payments or all kinds of streaming, paywall or IoT payments. You have a use case that would benefit from micropayments? Then the **Raiden Micropayments Challenge** is for you!

As part of this challenge, you could:

- build an easy and

[2019-08-08 12:32] franzihei opened #9 "[BOUNTY] Raiden - User Experience Challenge"
# Smooth Layer 2? UX wizards and design gurus, unite! 👨‍💻👩‍💻

User experience is key! Join the **Raiden User Experience Challenge** and help us smoothen the overall experience for devs and users!

There's plenty of ways how you can help us enhance Raiden further.

Here are a few ideas:

**Front-end & design heavy**:

- Work on visualizing Raiden - show what's going on under the hood! (e.g. creatin

[2019-08-12 17:23] Carusosa opened #10 "[BOUNTY] NuCypher- buidl Privacy into your Dapp"
Hackers! Earn up to $2500 USD by hacking with NuCypher

The NuCypher network facilitates end-to-end encrypted data sharing for distributed apps and protocols. Use our tools and network to build privacy into your Dapp.

## To Qualify for the NuCypher Bounty
  * Your project must be open-sourced
  * Your project must be submitted before the official end time (check with ETHBerlin organizers for end

[2019-08-13 00:50] rodventures opened #11 "[BOUNTY] The Graph - Build Or Use A Subgraph"
# The Graph Bounty : Build Or Use A Subgraph

[The Graph](https://thegraph.com) is a query protocol for Web3. You can use The Graph to index data from Ethereum and IPFS for easy querying from front-end applications with GraphQL.

For this bounty, there are two ways to win:

1. Build a subgraph to index your smart contracts
2. Utilize an existing subgraph from [Graph Explorer](https://thegraph.com/

[2019-08-13 15:59] tvanepps opened #12 "[BOUNTY] Whiteblock - Add protocol support"
# Whiteblock

[Whiteblock](https://whiteblock.io) is a testing & development platform for distributed systems. You can use Whiteblock to simulate a fully-functional test network in minutes that behaves and responds identically to a live production network.

# Add a protocol to Whiteblock Genesis

Whiteblock already supports several of the most popular blockchain clients, but there are plenty more

[2019-08-14 02:36] wisthsb1519 opened #13 "[BOUNTY] Algorand - Best Overall Application 💎"
# Algorand: Best Overall Application 💎

Algorand is the best way to start building your decentralized application quickly! Algorand lets you build any type of layer 2 application on a blockchain network with near-instant transaction finality. Our JavaScript, Python, Go and Java [SDK’s](https://developer.algorand.org/docs/using-sdks-and-rest-apis) allow you to take advantage of identity, key, accou

[2019-08-14 02:40] wisthsb1519 opened #14 "[BOUNTY] Algorand - Best UX Application 🔮"
# Algorand: Best UX Application 🔮

Algorand is the best way to start building your decentralized application quickly! Algorand lets you build any type of layer 2 application on a blockchain network with near-instant transaction finality. Our JavaScript, Python, Go and Java [SDK’s](https://developer.algorand.org/docs/using-sdks-and-rest-apis) allow you to take advantage of identity, key, account an

[2019-08-14 02:48] wisthsb1519 opened #15 "[BOUNTY] Algorand - Best In-Theme Application 🎨"
# Algorand: Best In-Theme Application 🎨

Algorand is the best way to start building your decentralized application quickly! Algorand lets you build any type of layer 2 application on a blockchain network with near-instant transaction finality. Our JavaScript, Python, Go and Java [SDK’s](https://developer.algorand.org/docs/using-sdks-and-rest-apis) allow you to take advantage of identity, key, acco

[2019-08-18 11:50] raulk opened #16 "[BOUNTY] Community Improvement Bounty - libp2p - Conformance Test Kit"
# libp2p conformance test kit

**Hackers, roll your sleeves up and hack for a chance to win 3000 EUR!** 🤑

See **devgrant 5** in the libp2p/devgrants tracker: https://github.com/libp2p/devgrants/issues/5

The specification can be found here: https://github.com/libp2p/devgrants/blob/master/005-conformance-test-kit.md.

## How to qualify

We know you are an amazingly talented hacker, but also recogn

[2019-08-18 12:33] raulk opened #17 "[BOUNTY] Community Improvement Bounty - libp2p - Noise handshake Golang and JavaScript implementation"
# libp2p Noise handshake Golang and JavaScript implementations

**Hackers, roll your sleeves up and hack for a chance to win 3500 EUR!** 🤑

See **devgrant 4** in the libp2p/devgrants tracker: https://github.com/libp2p/devgrants/issues/4

The bounty/devgrant brief can be found here: https://github.com/libp2p/devgrants/blob/master/004-noise-handshake-implementations.md.

The technical specification

[2019-08-18 13:12] raulk opened #18 "[BOUNTY] Community Improvement Bounty - libp2p - Golang gossipsub profiling and optimization"
# gossipsub profiling and optimization

**Hackers, find and fix bottlenecks and performance hotspots in the Go implementation of gossipsub, and win 1750 EUR!** 🤑

See **devgrant 7** in the libp2p/devgrants tracker: https://github.com/libp2p/devgrants/issues/7

## How to qualify

Do a first pass eyeballing the code to try to spot obvious CPU or allocation bottlenecks.

Find a way to deploy a small

[2019-08-18 15:36] raulk opened #19 "[BOUNTY] Community Improvement Bounty - libp2p - mDNS discovery in go"
# mDNS discovery in go-libp2p

**Our mDNS support has been playing up. Help us fix it and get 1000 EUR!** 🤑

See **devgrant 11** in the libp2p/devgrants tracker: https://github.com/libp2p/devgrants/issues/11

The brief for this bounty can be found here: https://github.com/libp2p/devgrants/blob/master/011-mdns-go-js.md.

## How to qualify

Create a go-libp2p-mdns repository, and develop your soluti

[2019-08-18 16:19] raulk opened #20 "[BOUNTY] Community Improvement Bounty - libp2p - Wireshark libp2p Lua dissectors"
# Wireshark libp2p Lua dissectors

**We need to x-ray into the wire. Help us build mature Wireshark dissectors and get 2750 EUR!** 🤑

See **devgrant 16** in the libp2p/devgrants tracker: https://github.com/libp2p/devgrants/issues/16

The brief for this bounty can be found here: https://github.com/libp2p/devgrants/blob/master/016-wireshark-lua-dissectors.md.

## How to qualify

We know you are an a

[2019-08-18 16:57] raulk opened #21 "[BOUNTY] Community Improvement Bounty - libp2p - TypeScript bindings for js-libp2p-*"
# TypeScript bindings for js-libp2p-*

**We want to make js-libp2p pleasurable to use from TypeScript. Get the TypeScript definitions in order, and run with 1000 EUR!** 🤑

This will not only help TypeScript developers, but also plain old JavaScript developers who use VSCode or other IDEs that support TypeScript-sourced autocompletion for plain JS.

See **devgrant 8** in the libp2p/devgrants tracke

[2019-08-18 18:35] ebuchman commented on #17
Another 1500 EUR is being offered by the [ICF](https://interchain.io) for this

[2019-08-18 21:14] mariapaulafn commented on #18
Note - The Community Improvement Bounties are funded by the ETHBerlin fundraising efforts - if your project needs these bounties to work better with libp2p - consider helping out. High incentives make happy hackers-

[2019-08-18 21:14] mariapaulafn commented on #20
Note - The Community Improvement Bounties are funded by the ETHBerlin fundraising efforts - if your project needs these bounties to work better with libp2p - consider helping out. High incentives make happy hackers.

[2019-08-18 21:15] mariapaulafn commented on #21
Note - The Community Improvement Bounties are funded by the ETHBerlin fundraising efforts - if your project needs these bounties to work better with libp2p - consider helping out. High incentives make happy hackers

[2019-08-18 21:16] mariapaulafn commented on #17
Thanks so much ICF and @ebuchman <3
Note - The Community Improvement Bounties are funded by the ETHBerlin fundraising efforts - if your project needs these bounties to work better with libp2p - consider helping out (as our friends at ICF are doing) . High incentives make happy hackers.

[2019-08-18 21:16] mariapaulafn commented on #16
Note - The Community Improvement Bounties are funded by the ETHBerlin fundraising efforts - if your project needs these bounties to work better with libp2p - consider helping out. High incentives make happy hackers

[2019-08-19 17:05] wildmolasses commented on #17
I've read the awesome spec (thanks @yusefnapora) and am considering working on this. @raulk, I'm going to find you this week to discuss! If you're reading this and might like to hack together, reach me at @wildmolasses on twitter / telegram / github.

[2019-08-19 17:59] wildmolasses commented on #17
I've read the awesome spec (thanks @yusefnapora) and am considering working on this. @raulk, I'm going to find you this week to discuss! If you're a hackathon participant reading this and might like to hack together, I'm at @wildmolasses on twitter / telegram / github.

[2019-08-20 09:24] raulk commented on #17
@wildmolasses cool. Let's coordinate with @noot who also wants to hack on this ;-) Given the extra incoming cash (thanks to @ebuchman and ICF, as well as some extra amount we'll chip in from PL), we want to expand the scope to add a javascript implementation.

[2019-08-21 13:30] raulk commented on #17
Protocol Labs is chipping in an extra 500 EUR! (besides our sponsorship of ETHBerlinZwei) And given the extra incentives, we're expanding the scope to include a JS implementation too. We encourage this not to be a competitive effort. Find co-hackers and build a multi-lingual team to deliver both Go and JS!

🎉

[2019-08-22 09:16] skale-ethberlin opened #22 "[Bounty] SKALE - Smart Contracts Scaling"
# SKALE Bounties - ETHBerlin

Power your dApp with SKALE's Ethereum Stack - 6 bounties!

## How to qualify

500 Euro to each of 4 best dApps and 1000 Euro to each 2 top dApps using capabilities of SKALE's decentralized stack (smart contract scaling, FileStorage, Interchain Transfer). Deployment process is very fast and easy: it takes just a couple lines of code to deploy to SKALE, or to upload dat

[2019-08-22 09:18] skale-ethberlin opened #23 "[BOUNTY] SKALE - On-chain Decentralized FileStorage"
# SKALE Bounties - ETHBerlin

Power your dApp with SKALE's Ethereum Stack - 6 bounties!

## How to qualify

500 Euro to each of 4 best dApps and 1000 Euro to each 2 top dApps using capabilities of SKALE's decentralized stack (smart contract scaling, FileStorage, Interchain Transfer). Deployment process is very fast and easy: it takes just a couple lines of code to deploy to SKALE, or to upload dat

[2019-08-22 09:21] skale-ethberlin opened #24 "[BOUNTY] SKALE - Interchain Token, State, and Message Transfer"
# SKALE Bounties - ETHBerlin

Power your dApp with SKALE's Ethereum Stack - 6 bounties!

## How to qualify

500 Euro to each of 4 best dApps and 1000 Euro to each 2 top dApps using capabilities of SKALE's decentralized stack (smart contract scaling, FileStorage, Interchain Transfer). Deployment process is very fast and easy: it takes just a couple lines of code to deploy to SKALE, or to upload dat

[2019-08-22 09:24] skale-ethberlin opened #25 "[BOUNTY] SKALE - 6 Bounties Prizes - Power Your dApp"
# SKALE Bounties - ETHBerlin

Power your dApp with SKALE's Ethereum Stack - 6 bounties!

## How to qualify

500 Euro to each of 4 best dApps and 1000 Euro to each 2 top dApps using capabilities of SKALE's decentralized stack (smart contract scaling, FileStorage, Interchain Message Transfer). Deployment process is very fast and easy: it takes just a couple lines of code to deploy to SKALE, or to up

[2019-08-22 13:04] wildmolasses commented on #17
hey @raulk, shall the js implementation be written with async/await instead of pull-streams? Thanks.

[2019-08-22 15:49] raulk commented on #17
@wildmolasses summoning @vasco-santos to answer this question, who will help out with js-libp2p from our end ;-)

[2019-08-22 16:08] vasco-santos commented on #17
Hey @wildmolasses

Thanks for your interest in the js implementation!

We are currently on the way to migrate from `pull-streams` / callbacks to `async iterators` / `async/await`. However, considering the codebase in this context, `js-libp2p-secio` is not migrated yet and `interface-connection` is in a discussion stage for the new API.

In spite of being great to have it written with async, I beli

[2019-08-22 17:10] raulk commented on #19
Protocol Labs will be chipping in an extra 500 EUR for this bounty! 🎉

[2019-08-22 17:12] raulk commented on #20
Protocol Labs will be chipping in an extra 1000 EUR towards this bounty for submissions that cover the requirements. 2000 EUR total in the pot so far!

[2019-08-22 17:13] raulk commented on #18
Protocol Labs is chipping in 250 EUR towards this bounty.

[2019-08-22 17:14] raulk commented on #21
The reward for this hack project is 1000 EUR. Good luck!

[2019-08-22 17:42] raulk opened #26 "[BOUNTY] Community Improvement Bounties - libp2p - gossipsub visualizations: fork and adapt meshsim"
# gossipsub visualizations: fork and adapt meshsim

**Life would be fantastic if we could visualize the behaviour of gossip meshes. Fork the fantastic [matrix-org/meshsim] visualizer, developed by our friends at Matrix.org, make it run and visualise gossipsub nodes, and run home with 2000 EUR extra in your pocket 🤑**

This is what meshsim is capable of doing now. Your goal is to replace the backen

[2019-08-22 19:25] ara4n commented on #26
I can answer questions (modulo time constraints) on how meshsim works :)

[2019-08-22 20:07] protolambda commented on #26
That's fun, I have been thinking of implementing something like this long term. But planned to focus on chain activity (forks, slashigns, deposits) visualization in network-graph form first (have a WIP implementation). Anyway, definitely down to talk at ethberlin, and maybe help out whoever likes to pick this up. Maybe @chainsafe @gregthegreek and/or @whiteblock @zscole

[2019-08-22 21:36] djrtwo commented on #26
The Ethereum Foundation is chipping in 750 EUR for this bounty!

[2019-08-22 21:36] djrtwo commented on #16
The Ethereum Foundation is chipping in 1000 EUR for this bounty!

[2019-08-22 21:36] djrtwo commented on #18
The Ethereum Foundation is chipping in 500 EUR for this bounty!

[2019-08-22 22:22] djrtwo commented on #20
The Ethereum Foundation is chipping in 750 EUR to this bounty!

[2019-08-22 22:49] raulk commented on #26
@protolambda have you checked out the Filecoin network visualizer? Demo: https://youtu.be/clzivvkpKpc We (PL) might be able to help.

[2019-08-23 00:35] protolambda commented on #26
@raulk No, but thanks for sharing. I like the one shown in this issue better however, as a higher node count and a complicated network topography don't fit the filecoin visualization approach so well.

And then there are also the contents of the graph to consider: one could just render the gossibsub things, or annotate it with message types, committtees, etc. (if we use it for Eth 2)

[2019-08-23 01:09] datakarima opened #27 "ConsenSys Grants - Social Impact Challenge"
# ConsenSys Grants - Social Impact Challenge
---------------------------------------------------------------------------------------------------

ConsenSys Grants funds projects that meet the needs of a rapidly accelerating Ethereum ecosystem. Learn more about ConsenSys grants at grants.consensys.net

**Social Impact Challenge:**
Ethereum has the infrastructure built to tackle pressing social issu

[2019-08-23 02:06] datakarima opened #28 "ConsenSys Grants - Security Challenge"
# ConsenSys Grants - Security Challenge
---------------------------------------------------------------------------------------------------

ConsenSys Grants funds projects that meet the needs of a rapidly accelerating Ethereum ecosystem. Learn more about ConsenSys grants at grants.consensys.net

**Security Challenge:**
Altering published smart contracts is impossible because blockchains are immut

[2019-08-23 02:11] datakarima opened #29 "ConsenSys Grants - Infrastructure Challenge (L1 & L2)"
# ConsenSys Grants - Infrastructure Challenge (L1 & L2) Challenge
-----------------------------------------------------------------------------------------------

ConsenSys Grants funds projects that meet the needs of a rapidly accelerating Ethereum ecosystem. Learn more about ConsenSys grants at grants.consensys.net

**Infrastructure Challenge (L1 & L2) Challenge:**

In order for Ethereum to be u

[2019-08-23 02:16] datakarima opened #30 "ConsenSys Grants - Education & Technical Knowledge Challenge & BOUNTY"
# ConsenSys Grants - Education & Technical Knowledge Challenge
-----------------------------------------------------------------------------------------------

ConsenSys Grants funds projects that meet the needs of a rapidly accelerating Ethereum ecosystem. Learn more about ConsenSys grants at grants.consensys.net

At ETHBerlin ConsenSys Grants is funding a number of bounties to improve the docume

[2019-08-23 02:19] datakarima opened #31 "ConsenSys Grants - Usability and Dev Tooling Challenge"
# ConsenSys Grants -  Usability and Dev Tooling Challenge
-----------------------------------------------------------------------------------------------

ConsenSys Grants funds projects that meet the needs of a rapidly accelerating Ethereum ecosystem. Learn more about ConsenSys grants at grants.consensys.net

**Usability and Dev Tooling Challenge:**

Continue to support the Ethereum developer eco

[2019-08-23 10:56] mikevoronov commented on #20
I would like to chose this bounty to work on.

[2019-08-23 16:23] boxhock opened #32 "[BOUNTY] Chainlink – €4,000 in BOUNTIES - First prize"
# Building the next generation of connected smart contracts
Chainlink is a decentralized oracle network that enables smart contracts to securely access off-chain data feeds, web APIs, and traditional bank payments. Chainlink is consistently selected as one of the top blockchain technologies by leading independent research firms such as Gartner. It is well known for providing highly secure and reli

[2019-08-23 16:24] boxhock opened #33 "[BOUNTY] Chainlink – €4,000 in BOUNTIES - Second prize"
# Building the next generation of connected smart contracts
Chainlink is a decentralized oracle network that enables smart contracts to securely access off-chain data feeds, web APIs, and traditional bank payments. Chainlink is consistently selected as one of the top blockchain technologies by leading independent research firms such as Gartner. It is well known for providing highly secure and reli

[2019-08-23 16:25] boxhock opened #34 "[BOUNTY] Chainlink – €4,000 in BOUNTIES - Third prize"
# Building the next generation of connected smart contracts
Chainlink is a decentralized oracle network that enables smart contracts to securely access off-chain data feeds, web APIs, and traditional bank payments. Chainlink is consistently selected as one of the top blockchain technologies by leading independent research firms such as Gartner. It is well known for providing highly secure and reli

[2019-08-23 17:16] raulk commented on #20
@michaelvonorov find me! I’m at the venue.

[2019-08-23 19:06] elishatorus opened #35 "[BOUNTY] Torus Labs - Enhance Your DApps' User Onboarding Experience"
# Make User-Onboarding as Natural as Possible for Your DApp

Torus allows users to log onto your DApp with their Gmail/Gsuite email account credentials, and subsequently transfer ETH to other Gmail/Gsuite email accounts. Utilize this login process that users are familiar with to enhance the usability and user-friendliness of your DApp.

## How to Qualify

Integrate Torus with your DApp and make it

[2019-08-23 20:15] valer-cara commented on #26
I'd like to take a shot at this :wave:

[2019-08-23 20:35] shresthagrawal commented on #19
I am working on it!

[2019-08-23 21:07] raulk commented on #19
@shresthagrawal Awesome! Come find me at level 1 by the kitchen. I’m at the libp2p/ipfs helpdesk. I’ll be able to help.

[2019-08-23 21:08] raulk commented on #26
Fantastic, @valer-cara! Come find me at the libp2p/ipfs helpdesk on level one. I’ll be able to help.

[2019-08-23 21:34] Legogris opened #36 "---"

[2019-08-23 21:36] Legogris commented on #33
For anyone intending to use pricing / market data (stablecoins/DeFi/token conversion/what-be-it), I'm here from Kaiko as a node operator and data provider on Chainlink - shoot us a line on [Telegram](https://t.me/joinchat/K6Fj7xVq3vF0E7CfSFkaJg) for guidance on considerations for proper interpretations, discussing use-cases or support with Chainlink. We're also happy to provide free API keys for h

[2019-08-23 21:37] Legogris commented on #34
For anyone intending to use pricing / market data (stablecoins/DeFi/token conversion/what-be-it), I'm here from Kaiko as a node operator and data provider on Chainlink - shoot us a line on [Telegram](https://t.me/joinchat/K6Fj7xVq3vF0E7CfSFkaJg) for guidance on considerations for proper interpretations, discussing use-cases or support with Chainlink. We're also happy to provide free API keys for h

[2019-08-23 21:37] Legogris commented on #32
For anyone intending to use pricing / market data (stablecoins/DeFi/token conversion/what-be-it), I'm here from Kaiko as a node operator and data provider on Chainlink - shoot us a line on [Telegram](https://t.me/joinchat/K6Fj7xVq3vF0E7CfSFkaJg) for guidance on considerations for proper interpretations, discussing use-cases or support with Chainlink. We're also happy to provide free API keys for h

[2019-08-24 01:55] #36 closed, assigned to nobody

[2019-08-24 04:16] samparsky commented on #21
@raulk I am interested in working on this, I am at ETHBerlin
I am planning on using autogenerated typescript definitions via JsDoc

[2019-08-24 06:02] shresthagrawal commented on #19
Hey! @raulk are you at the space?

[2019-08-24 07:24] raulk commented on #21
@samparsky I didn’t know that was possible. Mind sharing a link to a page that describes this feature? Feel free to start working on it. Make sure you start off with the existing definitions, as noted in the bounty! Good luck 👍

[2019-08-24 07:26] raulk commented on #20
This one has been claimed by @michaelvoronov and is underway! 🙌

[2019-08-24 07:27] raulk commented on #19
@shresthagrawal not yet, but I believe we’ve connected through telegram. I’ll help you there!

[2019-08-24 10:23] yann300 opened #37 "[BOUNTY] Remix IDE - Plugin"
# Build a Remix Plugin

https://remix-alpha.ethereum.org

We've finally released the Plugin framework a few weeks ago.
we'd love community developers to build plugins for enhancing IDEs features.

If you like to participate, provide fun and useful feature by building a plugin, that issue is for you ;)

Feel free to chat with us at https://gitter.im/ethereum/remix-dev-plugin and live at the Factory

[2019-08-24 11:03] ghost opened #38 "Whoops"

[2019-08-24 11:38] samparsky commented on #16
@raulk  This is like a battery of integration tests against a libp2p node client.
Could you explain more on `simple text-based control protocol over TCP`?

My thought process is something around a client can choose using a flag the set of integration tests to run against its implementation. i.e the integration tests are broken down into segements like secio, mplex.

I would imagine starting a CTK

[2019-08-24 14:02] #38 closed, assigned to nobody

[2019-08-24 14:05] protolambda commented on #18
Looks like I will give this a try since nobody else is picking it up. I'm with the EF working on Go state transition things, not networking, but familiar with libp2p on a surface level. Will dig into it now, wish me luck :crossed_fingers:

[2019-08-24 14:25] raulk commented on #18
@protolambda 🎉

[2019-08-24 16:13] deacix commented on #35
Hey hey! Crypto Maniacs are again here! Integrated Torus in https://bearrowing.io
![ezgif-1-54d2661dc55b](https://user-images.githubusercontent.com/762226/63639954-a959ab00-c69a-11e9-87d1-ab2c0886fc9a.gif)

[2019-08-24 21:46] ricott1 commented on #23
We would like to apply to this bounty. The name of our project is ``The Graph Oracle''
https://devpost.com/software/thegraphoracle

[2019-08-24 21:46] ricott1 commented on #11
We would like to apply to this bounty. The name of our project is ``The Graph Oracle''
https://devpost.com/software/thegraphoracle

[2019-08-24 22:48] mariapaulafn commented on #18
Salutations from Señor Tupac, esq. to @protolambda - fingers crossed.

[2019-08-24 22:55] makoto commented on #11
https://devpost.com/software/offset-dai/

[2019-08-25 00:39] Destiner commented on #11
https://devpost.com/software/set-diy

[2019-08-25 02:04] raphael-mazet commented on #31
Team DeLamp would like to apply to this bounty.

[2019-08-25 02:04] raphael-mazet commented on #25
Team DeLAMP would like to apply to this bounty.

[2019-08-25 02:23] EnoRage commented on #35
Here we are! Look at demo here: https://berlin.buttonwallet.tech
Here you can see devpost: https://devpost.com/software/grameth
We are the first GRAMMS to ETH and ETH to GRAMMS exchange. We are using Telegram Open Network as an early adopters. We allow any user to use email as a way to receive ETH
![torus](https://user-images.githubusercontent.com/22479658/63644700-480ff700-c6ef-11e9-9a49-a9112d1b

[2019-08-25 02:38] EnoRage commented on #32
Here we are! Look at demo here: https://berlin.buttonwallet.tech
Here you can see devpost: https://devpost.com/software/grameth
We are the first GRAMMS to ETH and ETH to GRAMMS exchange. We are using Telegram Open Network as an early adopters.
We use chainlink [smart contract](https://ropsten.etherscan.io/address/0x2a032eb0af76e6a0315f14b470f1fbe309393416) to get exchange rate ETH => USD

![chainl

[2019-08-25 03:03] wildmolasses commented on #29
Hi! Could you consider the [go-libp2p-noise](https://devpost.com/software/go-libp2p-noise-the-new-security-transport-for-eth2-0) project for this challenge? Thanks.

[2019-08-25 03:08] wildmolasses commented on #17
Here's our devpost submission: [go-libp2p-noise](https://devpost.com/software/go-libp2p-noise-the-new-security-transport-for-eth2-0). Thanks so much for your help @vasco-santos and @raulk

[2019-08-25 03:15] mpetrunic commented on #1
https://devpost.com/software/splitnetwork-ghriw1

[2019-08-25 03:39] rdchksec commented on #1
Wallet that allows to store your friend addresses to transfer to Jane (not to 0xdeadbeef...)
https://devpost.com/software/yaw

[2019-08-25 03:39] rdchksec commented on #3
Wallet that allows to store your friend addresses to transfer to Jane (not to 0xdeadbeef...)
https://devpost.com/software/yaw

[2019-08-25 03:39] rdchksec commented on #5
Wallet that allows to store your friend addresses to transfer to Jane (not to 0xdeadbeef...)
https://devpost.com/software/yaw

[2019-08-25 03:40] bowd commented on #26
we did it!

https://devpost.com/software/libp2p-gossip-pubsub-visualisation

[2019-08-25 04:32] mrq1911 commented on #1
https://devpost.com/software/3chan
![gallery](https://user-images.githubusercontent.com/2580779/63645586-2b30ef00-c702-11e9-86ed-4f7ae93fdfca.jpg)

[2019-08-25 04:33] mrq1911 commented on #5
https://devpost.com/software/3chan

![gallery](https://user-images.githubusercontent.com/2580779/63645590-426fdc80-c702-11e9-9678-8b7c939d5616.jpg)

[2019-08-25 04:34] mrq1911 commented on #3
https://devpost.com/software/3chan
![gallery](https://user-images.githubusercontent.com/2580779/63645591-50256200-c702-11e9-9ca1-b45c84cd5859.jpg)

[2019-08-25 04:59] solangegueiros opened #39 "[BOUNTY] Waves Platform"
## Resources
https://github.com/ethberlinzwei/KnowledgeBase/edit/master/resources/wavesplatform.md

In this case, link to your file in the [knowledge base resources directory](https://github.com/ethberlinzwei/KnowledgeBase/resources).

## Prizes

1.  First place: **1000 Waves**
2.  Second place: **500 Waves**
3.  Third place: **250 Waves**

[2019-08-25 05:00] solangegueiros commented on #39
My submission:
https://devpost.com/software/ethberlin-waves-playtime

https://github.com/solangegueiros/ethberlin-waves-playtime

[2019-08-25 05:44] IlluminatedUnicorn commented on #11
https://devpost.com/software/votezup

[2019-08-25 06:00] skale-ethberlin commented on #23
Hi Alessandro,

Make sure to submit to https://zwei.devpost.com/
We look forward to reviewing your submission!

Nat

[2019-08-25 06:01] skale-ethberlin commented on #25
Hi Raph,

Make sure to submit to https://zwei.devpost.com/
We look forward to reviewing your submission!

Nat

[2019-08-25 06:46] Pe4enable commented on #25
Hi.
We are participating in your bounty
https://devpost.com/software/cybaca

[2019-08-25 06:52] milkyklim commented on #11
https://devpost.com/software/eth-berlin Eazy-Cheezy 🧀  = Cheeze Wizards + the Graph

[2019-08-25 07:17] BogdanHabic commented on #31
Team [sol.tty](https://devpost.com/software/sol-tty) would like to apply to this bounty.

[2019-08-25 07:17] froid1911 commented on #1
https://devpost.com/software/green-berlin

[2019-08-25 07:17] froid1911 commented on #3
https://devpost.com/software/green-berlin

[2019-08-25 07:17] froid1911 commented on #5
https://devpost.com/software/green-berlin

[2019-08-25 07:19] froid1911 commented on #27
https://devpost.com/software/green-berlin

[2019-08-25 07:22] deacix commented on #11
Hey hey!
Here are Crypto Maniacs. We would like to apply for the bounty.
We build a borrowing aggregator and are using the Graph for getting collateralisation in Compound.
dApp: https://bearrowing.io/
GitHub: https://github.com/CryptoManiacsZone/BEARROWING
<img width="1669" alt="Bildschirmfoto 2019-08-25 um 09 21 11" src="https://user-images.githubusercontent.com/762226/63646870-b5388200-c719-11e9

[2019-08-25 07:23] BogdanHabic commented on #29
Team [sol.tty](https://devpost.com/software/sol-tty) would like to apply to this bounty.

[2019-08-25 07:26] vvkio commented on #29
Team [Maglev](https://devpost.com/software/maglev-ethereum-tx-station) would like to apply for this bounty.

[2019-08-25 07:27] KiriKiri commented on #34
Please check our DDoS Token (or EtherFlare): https://github.com/EtherFlareGraph/etherflare

[2019-08-25 07:27] semuelle commented on #11
And another one.
https://devpost.com/software/privethy

[2019-08-25 07:28] andy8052 commented on #31
Team [RateLock](https://devpost.com/software/rateswap) would like to be considered for this bounty.

[2019-08-25 07:32] k06a commented on #31
Team [CryptoManiacs](https://devpost.com/software/bearrowing) simplified tx debugging https://github.com/CryptoManiacsZone/evm-trace

[2019-08-25 07:33] dillonsvincent commented on #5
https://devpost.com/software/atra-liteui-3box-chat-integration

[2019-08-25 07:33] vvkio commented on #31
Team [Maglev](https://devpost.com/software/maglev-ethereum-tx-station) would like to apply for this bounty.

[2019-08-25 07:33] dillonsvincent commented on #3
https://devpost.com/software/atra-liteui-3box-chat-integration

[2019-08-25 07:33] dillonsvincent commented on #1
https://devpost.com/software/atra-liteui-3box-chat-integration

[2019-08-25 07:42] step21 commented on #11
Happy Bauhaus Cat says hello https://devpost.com/software/lucky-tarot-cat-on-a-chain

[2019-08-25 07:43] deacix commented on #27
Hey hey!
Crypto Maniacs are going to apply for your bounty!
https://devpost.com/software/bearrowing
We tokenized existing debts into NFT's for existing platforms like Compound, Aave etc.
We made debts and platforms for lending more interoperable.

<img width="1680" alt="Bildschirmfoto 2019-08-25 um 09 20 51" src="https://user-images.githubusercontent.com/762226/63647100-c8991c80-c71c-11e9-9fa0-c0a

[2019-08-25 07:44] k06a commented on #37
Team [CryptoManiacs](https://devpost.com/software/bearrowing) simplified tx debugging by parsing parity traces: https://github.com/CryptoManiacsZone/evm-trace, had not enough time to make it Remix plugin, but we are going to do it after the hack.

[2019-08-25 07:45] wslyvh commented on #11
My DAO Dashboard submission
https://devpost.com/software/my-dao-dashboard

[2019-08-25 07:45] wslyvh commented on #3
My DAO Dashboard submission
https://devpost.com/software/my-dao-dashboard

[2019-08-25 07:45] wslyvh commented on #1
My DAO Dashboard submission
https://devpost.com/software/my-dao-dashboard

[2019-08-25 07:45] dvdunterholzner commented on #27
Here we go.
Project "Transit" provides a Pension Plan for developing countries.
https://devpost.com/software/transit-pension-plan

[2019-08-25 07:46] lucasmanuel1996 commented on #5
BoB -> https://devpost.com/software/bob-browser-of-browsers

[2019-08-25 07:46] apeir99n commented on #5
https://devpost.com/software/unisaur-cz - we use 3Box to create ThrollBox for our DEX

[2019-08-25 07:47] apeir99n commented on #32
We use chainlink to get price of Facebook shares on NASDAQ for our DEX: https://devpost.com/software/unisaur-cz

[2019-08-25 07:47] protolambda commented on #18
Hackathon submission: https://github.com/protolambda/go-libp2p-gossip-berlin/

Devpost: https://devpost.com/software/go-libp2p-gossip-berlin

It was fun learning the gossipsub spec in more detail, along with go-libp2p usage. Sadly I couldn't find any opportunity to optimize libp2p code, as it seems to be primarily bottlenecked by crypto: verifying gossipsub messages, and hashing for larger message

[2019-08-25 07:48] peterflux commented on #32
When dissecting Chainlink's whitepaper, a staking system coined "Chainlink Reputation System" is detailed to attach a financial value to the validity of oracle aggregated data. The reputation system is logical but is not incorporated in version one of Chainlink's main net protocol. At the moment, Chainlink oracles can theoretically be affected by 3rd parties incentivized to manipulate API data.

W

[2019-08-25 07:48] peterflux commented on #33
When dissecting Chainlink's whitepaper, a staking system coined "Chainlink Reputation System" is detailed to attach a financial value to the validity of oracle aggregated data. The reputation system is logical but is not incorporated in version one of Chainlink's main net protocol. At the moment, Chainlink oracles can theoretically be affected by 3rd parties incentivized to manipulate API data.

W

[2019-08-25 07:48] peterflux commented on #34
When dissecting Chainlink's whitepaper, a staking system coined "Chainlink Reputation System" is detailed to attach a financial value to the validity of oracle aggregated data. The reputation system is logical but is not incorporated in version one of Chainlink's main net protocol. At the moment, Chainlink oracles can theoretically be affected by 3rd parties incentivized to manipulate API data.

W

[2019-08-25 07:50] poma commented on #11
Library that lends unused funds locked in smart contract to Compound

https://github.com/peppersec/tornado-lend

[2019-08-25 07:51] pascuin commented on #1
Our submission, You. a password manager leveraging decentralized storage and messaging that authenticates Web 2 and Web 3 logins with your mobile device.

https://devpost.com/software/you-k1cb2g

[2019-08-25 07:51] pascuin commented on #3
Our submission, You. a password manager leveraging decentralized storage and messaging that authenticates Web 2 and Web 3 logins with your mobile device.

https://devpost.com/software/you-k1cb2g

[2019-08-25 07:52] lucasmanuel1996 commented on #3
BoB -> https://devpost.com/software/bob-browser-of-browsers

[2019-08-25 07:52] lucasmanuel1996 commented on #1
BoB -> https://github.com/cristobalovo/bob

[2019-08-25 07:53] muhammednagy commented on #25
Hi . we are participating
https://devpost.com/software/squirrels-goals

[2019-08-25 07:57] ClaudioZone commented on #31
Team [catbox](https://devpost.com/software/catbox-library-for-dec-encrypted-file-access-via-ethereum) would like to apply for this bounty.

[2019-08-25 08:03] branciard commented on #25
Hi,
We are participating in your bounty
https://devpost.com/software/archipel-o5tabh
We have used Skale sidechain in our project to have a fast chain for the failover decision.

[2019-08-25 08:07] ara4n commented on #26
wow, congrats! i should apologise that the original meshsim code was written in a bit of a rush and is certainly not our best work (i deeply regret the webapp being a tangle of procedural JS rather than React) - but based on the devpost writeup it sounds like you made massive improvements. We’d love to get the code merged (and use this for our own libp2p experiments!)

[2019-08-25 08:10] alxroyer commented on #21
Hi all. Really interested in this feature.
@samparsky: Smart approach. If you need help for this, I'd be pleased contributing. Let me know.

[2019-08-25 08:13] labsterx commented on #14
Is this the place to submit my project to your bounty? Here's my project on devpost: https://devpost.com/software/collectorhub

[2019-08-25 08:14] bowd commented on #26
@ara4n Yeah I didn't open a PR yet because we didn't have time to update the documentation but we're gonna do that in the following days, other than that it should be more-or-less margeable, we can talk through some particulars when the PR is open. You can check the code at https://github.com/valer-cara/meshsim/ for now.

If this is actually useful I have a ton of improvement ideas.

[2019-08-25 08:18] sprusr commented on #11
Here’s the colonyNetwork subgraph project: https://devpost.com/software/colonysubgraph

Thanks for all the help late on Saturday night!

[2019-08-25 08:19] scottrepreneur commented on #32
Checking Twitter API for followers list
https://devpost.com/software/the-humble-potato-xd4bf5

[2019-08-25 08:20] scottrepreneur commented on #1
Storing profile data with 3box
https://devpost.com/software/the-humble-potato-xd4bf5

[2019-08-25 08:23] scottrepreneur commented on #5
https://devpost.com/software/the-humble-potato-xd4bf5 3box profiles!

[2019-08-25 08:32] liamzebedee commented on #1
Ciaodao for using 3Box in a reasonably smooth UX 😉 https://devpost.com/software/ciaodao

[2019-08-25 08:35] yangwao commented on #1
🔥🍟 3box chat and payments inside chat using Torus while watching De-Fi fly https://devpost.com/software/fry-the-defi-jgo5bc

[2019-08-25 08:36] yangwao commented on #5
🔥🍟 3box chat and payments inside chat using Torus while watching De-Fi fly https://devpost.com/software/fry-the-defi-jgo5bc

[2019-08-25 08:37] yangwao commented on #35
🔥🍟 Using Torus as primary login, fiat on-ramp and payments inside 3box chat using Torus feature - pay to email - https://devpost.com/software/fry-the-defi-jgo5bc

[2019-08-25 08:37] yangwao commented on #11
🔥🍟 Querying data from The Graph marketplace subgraph (Uniswap, dydx) - https://devpost.com/software/fry-the-defi-jgo5bc

[2019-08-25 08:41] wisthsb1519 commented on #14
yes it is! awesome. come by our booth when youre ready so you can walk us through your app. we're in the courtyard

[2019-08-25 08:43] liamzebedee commented on #5
https://devpost.com/software/ciaodao :)

ciaodao is a social network based on token membership. :)

[2019-08-25 08:45] samparsky commented on #21
@Alexis-ROYER Are you at ETHBerlin?

[2019-08-25 08:50] hackerkid commented on #25
We like to apply for this bounty.

We are using Skale sidechain and decentralized file storage.
https://devpost.com/software/thegraphoracle

[2019-08-25 08:55] hackerkid commented on #31
We like to apply for this bounty.
https://devpost.com/software/thegraphoracle

[2019-08-25 08:57] skale-ethberlin commented on #23
Hi

Hi Alessandro,

Judging will be taking place at **Layer 2 Helpdesk**- second floor kitchen area.
Please go there!

[2019-08-25 08:59] skale-ethberlin commented on #25
Hi Arsenii,

Judging will be taking place at **Layer 2 Helpdesk**- second floor kitchen area.
Please go there!

[2019-08-25 08:59] skale-ethberlin commented on #25
Hi Alessandro,

Judging will be taking place at **Layer 2 Helpdesk**- second floor kitchen area.
Please go there!

[2019-08-25 09:00] skale-ethberlin commented on #25
Hi,

Judging will be taking place at **Layer 2 Helpdesk**- second floor kitchen area.
Please go there!

[2019-08-25 09:00] muhammednagy commented on #25
Hey we are participating in the bounty.
https://devpost.com/software/squirrels-goals

[2019-08-25 09:12] okwme commented on #31
Clovers Gas Station https://devpost.com/software/clovers-gas-station

[2019-08-25 09:13] okwme commented on #29
Clovers Gas Station - https://devpost.com/software/clovers-gas-station

[2019-08-25 09:21] PhilippLgh commented on #37
Repootation (repootation) is a react component for fast and efficient rating, that can be embedded anywhere on the Internet and allows to capture reactions and ratings to content in a decentralized and verifiable way.
https://github.com/PhilippLgh/repootation

[2019-08-25 09:24] PhilippLgh commented on #1
Re💩tation (repootation) is a react component for fast and efficient rating ❤️👍👎💩, that can be embedded anywhere on the Internet and allows to capture reactions and ratings for content in a decentralized and verifiable way. Think of it as a decentralized facebook-like-button, or github stars, or stackoverflow upvotes... Endless possibilities! Rate any content without signup or central server and wi

[2019-08-25 09:38] DearNadia commented on #27
Take a look at the project **cybaca** - we created framework for self-organising community events based on Ethereum smart contract - https://devpost.com/software/cybaca 🦄

[2019-08-25 09:40] arseneeth commented on #29
Supercharger  network - https://devpost.com/software/supercharger-network

[2019-08-25 09:41] arseneeth commented on #31
Supercharger network - https://devpost.com/software/supercharger-network

[2019-08-25 09:55] boxhock commented on #34
@KiriKiri @realpetermitch Please come to our booth to present. We're located on the first floor, to the left from the elevator.

[2019-08-25 09:56] boxhock commented on #32
@EnoRage @apeir99n @realpetermitch @scottrepreneur Please come to our booth to present. We're located on the first floor, to the left from the elevator.

[2019-08-25 10:08] skale-ethberlin commented on #23
Hi @ricott1 , if you have not presented, please come to the SKALE booth in the lobby.

[2019-08-25 10:09] skale-ethberlin commented on #25
@muhammednagy @hackerkid @Pe4enable , if you have not presented, please come to the SKALE booth in the lobby!

[2019-08-25 10:25] samparsky commented on #21
@Alexis-ROYER Yeah I could use some help. Can you reach out via telegram, my telegram username is `geekou`

[2019-08-25 10:28] samparsky commented on #21
@raulk I wasn't able to complete everything during the hackathon,

I have opened a PR here for `js-libp2p-bootstrap`

https://github.com/libp2p/js-libp2p-bootstrap/pull/95

And a draft PR to the `js-libp2p` repository

https://github.com/libp2p/js-libp2p/pull/449

[2019-08-25 10:37] PhilippLgh commented on #27
Re💩tation (repootation) is a react component for fast and efficient rating ❤️👍👎💩, that can be embedded anywhere on the Internet and allows to capture reactions and ratings for content in a decentralized and verifiable way. Think of it as a decentralized facebook-like-button, or github stars, or stackoverflow upvotes... Endless possibilities!
Social media is critical in forming movements (think of

[2019-08-25 10:39] RikaGoldberg commented on #1
Shoutbox: Decentralized peer-to-peer chat
https://github.com/MrLuit/ethberlinzwei-hackathon

[2019-08-25 10:52] oovg commented on #5
DAOHaus
Social Network for DAOs with built-in Moloch DAO launcher.
https://devpost.com/software/daohaus

[2019-08-25 10:59] ricott1 commented on #23
Hi, we presented to the team on floor 2 before.
Cheers

[2019-08-25 11:15] pascuin commented on #31
Our submission, You. a password manager leveraging decentralized storage and messaging that authenticates Web 2 and Web 3 logins with your mobile device.

https://devpost.com/software/you-k1cb2g

[2019-08-25 11:15] pascuin commented on #28
Our submission, You. a password manager leveraging decentralized storage and messaging that authenticates Web 2 and Web 3 logins with your mobile device.

https://devpost.com/software/you-k1cb2g

[2019-08-25 11:18] raulk commented on #20
Submission is here: https://github.com/michaelvoronov/secio-dissector. Demo video: https://drive.google.com/file/d/1B6pqFZFqC3uuScNBkpE6MEoFgXGxXg-n/view.

[2019-08-25 11:19] RikaGoldberg commented on #5
Shoutbox: Decentralized peer-to-peer chat
https://github.com/MrLuit/ethberlinzwei-hackathon

[2019-08-25 11:26] hadyrashwan commented on #1
https://github.com/mohamedaboelmagd/badgable

[2019-08-25 11:26] hadyrashwan commented on #3
https://github.com/mohamedaboelmagd/badgable

[2019-08-25 12:17] deoidh commented on #27
Perhaps the TAO could help solving some of the many governing related issues, alongside the incentivisation of a self-sustainability entity that is not skewed by based governance but rather repetitional participation via proactiveness. A constant revenue stream originating from a cDAI pool allows the entity to become financially self-sufficient and an investment opportunity for outsiders that does

[2019-08-25 12:20] deoidh commented on #29
A repetitional based governing asset for an easy approach towards open governance integration for any dApp, still in its youth but will be brought to new heights in the coming weeks, proactiveness allows one to gain more governing power and inactivity results in the loss of it.

**ERC717 is not the final name/standard for this implementation but a just a temporary denotation.**

https://github.com

[2019-08-25 12:29] labsterx commented on #1
Here's my submission:
DevPost: https://devpost.com/software/collectorhub
Github: https://github.com/labsterx/CollectorHub
Web:
1) https://ipfs.infura.io/ipfs/QmS9ECRiJTMFvFLA2qbYmKu7mcUXoxrhBrpYT3rUSsf2Xq/
2) https://collectorhub.labsterx.com/

[2019-08-25 12:31] labsterx commented on #5
Here's my submission:
DevPost: https://devpost.com/software/collectorhub
Github: https://github.com/labsterx/CollectorHub
Web:
1) https://ipfs.infura.io/ipfs/QmS9ECRiJTMFvFLA2qbYmKu7mcUXoxrhBrpYT3rUSsf2Xq/
2) https://collectorhub.labsterx.com/

[2019-08-25 12:40] shresthagrawal commented on #19
Hey! It was nice working with Libp2p. [here](https://github.com/shresthagrawal/go-libp2p-mdns) is the result of my work of past 48 hours. Special Thanks to @raulk for helping. With no sleep and continuous coding, I am sure there might be lot of logging statement and silly mistakes in the codebase; Also there are some parts of the code which still needs to be worked on.

Here is the complete list o

[2019-08-25 12:52] raulk commented on #26
@bowd thanks for the submission. This is fantastic. Would be great if you updated the README.md with concrete instructions to run gossipsub nodes from scratch, including building the docker images. Ping me if you're still around so we can go through a demo together.

[2019-08-25 12:56] bowd commented on #26
@raulk we're still around, at a table close to the inner courtyard (with the icecream van), do you wanna meet here?

[2019-08-25 13:00] raulk commented on #26
@bowd already syncing with @valer-cara over Telegram.

[2019-08-25 14:21] philipstanislaus commented on #21
@samparsky are you going to finish these? Otherwise I’ll have a shot later. Thanks!

[2019-08-25 14:22] samparsky commented on #21
@philipstanislaus Yeah I am going to, do you wanna work on it together?

[2019-08-25 14:25] samparsky commented on #21
@philipstanislaus It was quite much to finish up during the hackathon as there are 13 repositories requiring types addition. Also, types generation is being automated via JSDoc as its much more easier to maintain. you can check out https://github.com/libp2p/js-libp2p-bootstrap/pull/95 to have an idea

We can split it up if you are interested

[2019-08-25 14:26] philipstanislaus commented on #21
Got it, looking forward to use them!

Thanks!

[2019-08-25 14:43] samparsky commented on #21
@philipstanislaus Are you interested in splitting it up and working on it together?

[2019-08-25 15:12] philipstanislaus commented on #21
@samparsky sure, let’s do that. I’ll get back to you in a bit.

[2019-08-25 15:18] vasco-santos commented on #21
@samparsky @philipstanislaus thanks for working on this. Let me know in case you need any help 🙂

[2019-08-26 10:10] ryanchristo commented on #21
@samparsky @philipstanislaus @vasco-santos I'd be happy to help out as well.

[2019-08-27 07:04] samparsky commented on #21
@ryanchristo You can reach out to me on telegram but I am not sure I need any more help right now

[2019-08-27 08:14] yann300 commented on #37
@k06a
looks great! feel free to join https://gitter.im/ethereum/remix-dev-plugin or PM if you like to have a chat and check how to implement that
Thanks ;)

[2019-08-27 08:15] yann300 commented on #37
@PhilippLgh
cool ;) are you around this week or next week?

[2019-08-27 10:50] samparsky commented on #21
@vasco-santos How is it possible to reach out to you?

There is a limitation to automating the generation of typings right now.

Right now it's difficult to generate automatically correct typings for default exports. i.e. modules with the following
[code]
or
[code]
It requires manually adding the type details to `types.d.ts` to make it work

Although automatically generating types for named export

[2019-08-27 11:35] samparsky commented on #16
@raulk Hello, how is it possible to reach out to you or who could be of help on this issue?

[2019-08-28 06:00] alxroyer commented on #21
I bet it could be worth fixing / augmenting tsd-jsdoc in order to bring the minimum of constraints on the libp2p code:

- Make it generate stable output whatever the version of jsdoc (*)
- Add missing features (**)

I'm giving a try on that.

---

(*) tsd-jsdoc [comes with jsdoc@3.5.5 by default](https://github.com/englercj/tsd-jsdoc/blob/master/package.json) (and I assume it has been developed wi

[2019-08-28 08:02] vasco-santos commented on #21
@samparsky let's discuss that on [libp2p/js-libp2p#208](https://github.com/libp2p/js-libp2p/issues/208), can you post that there? We can also involve jacob on it

[2019-08-28 08:29] philipstanislaus commented on #21
@samparsky I looked into this, but it seems I won't have the capacity to make significant contributions in the next 2 weeks – deadlines, you know ;)

Let me know if I can be of any other help. Thanks!

[2019-08-28 22:17] alxroyer commented on #21
I have just found out the [jsdoc-tsd](https://github.com/otris/jsdoc-tsd) library, similar to (and visibly inspired from) [tsd-jsdoc](https://github.com/englercj/tsd-jsdoc).

I've made a couple of tests with both, but I could not figure out whether one was better than the other.
I could not manage, among others, to generate automatically a default export declaration.

I keep on trying to fix tsd-j

[2019-08-29 11:22] raulk commented on #19
@shresthagrawal thank you so much for taking this on, and for your relentless drive to make it happen!

Kudos for all the discoveries, learnings and contributions you've made during this endeavour. The libp2p community is happy to have you onboard ;-)

I think it would be great for you to open issues under https://github.com/shresthagrawal/go-libp2p-mdns with everything that is pending.

I noticed

[2019-08-29 11:27] raulk commented on #16
@samparsky Hey Sam, glad to have met you in person at ETHBerlin, and that you're excited about contributing to libp2p! 🙌

My Telegram is my github user with an `r` at the end -- feel free to ping me there.

The rationale is that the implementation under test and the CTK will need to communicate to "switch" between cases, marking the end of a test case and the beginning of the next one.

At first I

[2019-08-29 15:41] samparsky commented on #21
@Alexis-ROYER Cool! keep me posted if you are able to fix it

[2019-08-30 07:54] samparsky commented on #21
@Alexis-ROYER I have created an issue on jsdoc-tsd repo, currently looking at ways of solving it
https://github.com/otris/jsdoc-tsd/issues/73

[2019-08-30 11:50] alxroyer commented on #21
I've got a very first 'export default' declaration with tsd-jsdoc! The code is still ugly, but it's on the way.

I clean it a bit, then I start a draft PR out of your [tsd-jsdoc#96 issue](https://github.com/englercj/tsd-jsdoc/issues/96).

[2019-09-02 20:02] alxroyer commented on #21
Draft [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98) initialized on tsd-jsdoc for default exports.
Plus [issue#99](https://github.com/englercj/tsd-jsdoc/issues/99) for jsdoc 3.6.x support, and [issue#100](https://github.com/englercj/tsd-jsdoc/issues/100) for documented items vs exported items generation strategy.

Feel free to react on these.

[2019-09-07 22:45] mikevoronov commented on #20
The repo has been renamed to [libp2p-dissector](https://github.com/michaelvoronov/libp2p-dissector), since it supports not only secio now.

[2019-09-20 11:20] alxroyer commented on #21
Still work to do on the [tsd-jsdoc#98](https://github.com/englercj/tsd-jsdoc/pull/98) PR, but I have now reached a state that could be worth testing on real code.

Checkout from my [tsd-jsdoc fork](https://github.com/Alexis-ROYER/tsd-jsdoc) and run tsd-jsdoc from it, using the [`generationStrategy` option](https://github.com/Alexis-ROYER/tsd-jsdoc/blob/export-default/src/typings/dts-jsdoc.d.ts) se

[2019-09-27 09:16] yann300 commented on #37
@k06a any news on this? let us know how we can help ;)

[2019-09-27 09:18] k06a commented on #37
@yann300 will first roll out first feature-complete web-version, then move to the plugin.

[2019-10-23 14:16] IwraStudios commented on #21
Hi all, it's been a while since I did https://github.com/libp2p/js-libp2p/issues/346

I didn't realize there was a need for, so didn't bother to update it, but I did continue to create them for the modules I used.

Anyway I've got declaration files for  around 60% of js-libp2p-*

Some interfaces might be old, because I created them a few months after initially posting them.

Also for the people ta

[2019-11-30 09:35] joramowuor commented on #34
Leaboxhock pls. check, submision on jim3557.xyz/uujjii/201832266421_25051444

[2019-11-30 09:49] joramowuor commented on #35
pay on external coin using aspfl. https://devpost.com/vps/droid-upgrade-wac103

[2019-11-30 11:24] joramowuor commented on #29
check out my plan on https://devpost.com/software/konami-code

[2019-12-01 18:52] joramowuor commented on #18
https://github.com/gitco/joramowuor/send-kudos-limited-edition-kaiju-dragon-versus-bot2-3_3?tran

[2020-03-26 00:41] mcclure commented on #21
Trying to make sure I'm up to date, is this correct?

- https://github.com/polkadot-js/ts/tree/master/types is still the most up to date js-libp2p typings and the best starting point for more
- However this predates the await/async refactor so many things will be wrong

If I want some sort of approximate types should I start with the polkadot-js project or @Alexis-ROYER 's thing?

[2020-03-29 21:32] alxroyer commented on #21
@mcclure I bet we'd better forget the jsdoc approach. After giving it a try, I eventually came to the conclusion that it will be easier to write the .d.ts files and maintain them directly.

Let us know.

[2020-12-08 23:24] gbaranski commented on #21
Hi, are you still interested in funding this feature? I'm currently working on it at [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50017), but will move those type definitions to the js-ipfs in a moment.

@raulk

[2020-12-09 10:05] vasco-santos commented on #21
FYI
In js-libp2p/IPFS we are currently working towards having type definitions on release. These type definitions are inferred by JSDOC typedef and some typescript files for completeness. Some context in https://github.com/ipfs/js-ipfs/issues/2945 https://github.com/libp2p/js-libp2p/issues/659

The libp2p work has already started and we aim to ship soon `0.30` with the core API with type definitio

[2022-05-16 14:05] heinrich5991 commented on #20
Is this still open in some way? Can I talk to someone about this? I've written a Wireshark dissector before, and would find it interesting to write another.